#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;

  --backgorund-color-default: hsl(30, 3%, 30%);
  --highlight-background-color: hsl(9, 53%, 70%);
  --selected-background-color: hsl(9, 53%, 50%);
  --border-color: hsl(200, 14%, 10%);
  --text-color: hsl(200, 14%, 96%);
}

.selectlist {
  position: relative;
  width: 300px;
}

.select-element {
  background-color: var(--selected-background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  user-select: none;
}

/* sty;e the arrow element of our pulldown list*/
.select-element::after {
  content: "";
  border: 10px solid transparent;
  border-top-color: var(--text-color);
  margin-top: 0.5rem;
}

.select-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: var(--backgorund-color-default);
  cursor: pointer;
  z-index: 1000;
  max-height: 150px;
  overflow-y: auto;
}

.select-option {
  padding: 0.5rem 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

[aria-selected="true"] {
  background-color: var(--selected-background-color);
}

.select-option:hover,
.select-option:focus {
  background-color: var(--highlight-background-color);
}

.selectlist:focus {
  outline: 2px dashed var(--highlight-background-color);
}
